.list_content {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
.list_item_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 4rem;
  border: 1px solid #eee;
  padding: 0 1rem;
}

.h_left {
  width: 2rem;
}

.h_center {
  flex: 1;
}

.h_right {
  width: 4rem;
}

.push_button span {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
}